# Binary libs
*.a
*.so
*.dylib
*.dll

# IDE (e.g. CLion)
.idea/
.vscode/

scripts/tmp*

# Command built using `make build`
/objectbox-generator
/objectbox-generator.exe
build/

# CMake/C++ Examples:
examples/*/_deps
examples/*/build
examples/**/*.obx.cpp
examples/**/*.obx.hpp
examples/**/objectbox-model.h
examples/**/objectbox-model.json
